.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    color: #fff;
    background:
        url(./../../../assets/img/purple_shadow_contact.png) no-repeat right center/1000px 550px;
    padding: 64px 0;
    position: relative;

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        &::after {
            content: '';
            border: 2px solid #70E61C;
            flex: 1;
            height: 0;
            margin-left: 20px;
        }

        h2 {
            font-size: 32px;
            font-weight: 700;
            line-height: 34px;
            text-align: center;
            padding-left: 30%;
        }
    }


    h3 {
        display: flex;
        align-items: center;
        font-size: 23px;
        font-weight: 700;
        line-height: 27.6px;
        text-align: left;


        &::before {
            content: '';
            border: 2px solid #1CDAE6;
            width: 128px;
            height: 0;
            margin-right: 20px;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
        text-align: left;
        padding: 0 24px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 64px;
}

.contact-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 32px;
}

.contact-form {
    width: 100%;
    position: relative;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.form-element {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 617px;
    position: relative;

}

input,
textarea {
    width: 100%;
    height: 50px;
    padding: 15px 25px 15px 25px;
    gap: 10px;
    border-radius: 10px;
    background: #141D2F;
    border: 1px solid #9747FF;
    color: #fff;
    font-family: 'Poppins';
    position: relative;
    outline: none;

    &::placeholder {
        color: #fff;
    }

    &:hover {
        border: 1px solid #1CDAE6;
        cursor: pointer;
    }
}

textarea {
    height: 202px;
    resize: vertical;
    background-image: url(./../../../assets/img/resize.png);
    background-position: 99% 97%;
    background-repeat: no-repeat;
    background-size: 13px;
}

textarea::-webkit-resizer {
    color: #9747FF;
}

/* Entfernen des weißen Autofill-Hintergrunds und Setzen des Textes auf weiß */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: white !important;
    /* Setzt den Text auf weiß */
    transition: background-color 5000s ease-in-out 0s;
    /* Verhindert den Autofill-Hintergrund */
    background-color: transparent !important;
    /* Setzt den Hintergrund auf transparent */
    color: white !important;
    /* Textfarbe auf weiß setzen */
}

/* Mozilla Firefox */
input:-internal-autofill-selected {
    background-color: transparent !important;
    color: white !important;
    /* Textfarbe auf weiß setzen */
    appearance: none !important;
    -moz-appearance: none !important;
}

.error {
    display: flex;
    width: 100%;
    height: 20px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: #E61C40;
    padding-top: 8px;
}

.error-symbol {
    position: absolute;
    right: 16px;
    top: 12px;
}

input.invalid,
textarea.invalid {
    border: 2px solid #E61C40;
}

input.valid,
textarea.valid {
    border: 2px solid #70E61C;
}

.checkbox {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;

    span {
        vertical-align: top;

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline !important;
            }
        }
    }

}

input[type="checkbox"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid #70E61C;
    border-radius: 4px;
    background-color: transparent;
    display: grid;
    padding: 0 4px;
    margin-right: 16px;
    place-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    position: relative;
}

input[type="checkbox"]::before {
    content: "";
    width: 12px;
    height: 12px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #70E61C;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:hover {
    border-color: #70E61C;
}

input[type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background-color: #183771;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

input[type="checkbox"]:hover::after {
    opacity: 1;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

button {
    width: 195px;
    height: 49px;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px #00000040;
    color: #fff;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    margin-top: 16px;
}

.button {
    background: #70E61C;
    transition: transform 300ms ease-out;
    transform-origin: top left;

    &:hover {
        background: #9747FF;
        transform: scale(1.2);
    }
}

.disabled-button {
    background-color: grey;
    cursor: not-allowed;
}

.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
}

.modal-content {
    position: absolute;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.scroll-animated-content {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.scroll-animated-content.visible {
    opacity: 1;
}

.goToTop {
    position: absolute;
    right: 30px;
    bottom: -100px;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .contact-container {
        .header {
            h2 {
                padding-left: 50%;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .contact-container {
        .header {
            h2 {
                padding-left: 50%;
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .contact-container {

        .header {
            h2 {
                font-size: 48px;
                line-height: 50px;
            }
        }

        .content {
            flex-direction: row;

            .contact-text {
                h3 {
                    &::before {
                        content: '';
                        border: 2px solid #1CDAE6;
                        width: 30%;
                        height: 0;
                        margin-right: 20px;
                    }
                }

                p {
                    padding-left: 34%;
                    padding-right: 0;
                }
            }

        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .contact-container {

        .content {
            flex-direction: row;

            .contact-text {
                h3 {
                    &::before {
                        content: '';
                        border: 2px solid #1CDAE6;
                        width: 30%;
                        height: 0;
                        margin-right: 20px;
                    }
                }

                p {
                    padding-left: 34%;
                    padding-right: 0;
                }
            }

        }
    }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
    .contact-container {

        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-right: 20px;

            &::after {
                content: '';
                border: none;
                flex: 0;
                height: 0;
                margin-left: 20px;
                overflow: hidden;
            }

            h2 {
                font-size: 45px;
                font-weight: 700;
                line-height: 54px;
                text-align: center;
                padding-left: 0%;
                position: relative;
                padding: 10px;
                display: inline-block;


                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    width: 44.5vw;
                    height: 2px;
                    background-color: #70E61C;
                    transform: translateY(-50%);
                    z-index: -1;
                    overflow: hidden;
                }
            }
        }

    }
}

@media (min-width: 1920px) {
    .contact-container {

        .wrapper {
            display: flex;
            flex-direction: column;
            max-width: 1920px;
            gap: 64px;

            .header {

                h2 {   
                    &::before {
                        width: 19vw;
                    }
                }
            }
        }

    }
}