<section>
  <div class="container">
    <h1>{{ 'LEGAL_NOTICE.TITLE' | translate }}</h1>

    <h2>{{ 'LEGAL_NOTICE.RESPONSIBLE.TITLE' | translate }}</h2>
    <p>
      <strong>{{ 'LEGAL_NOTICE.RESPONSIBLE.NAME' | translate }}</strong><br />
      {{ 'LEGAL_NOTICE.RESPONSIBLE.ADDRESS' | translate }}<br />
      {{ 'LEGAL_NOTICE.RESPONSIBLE.PHONE' | translate }}<br />
      {{ 'LEGAL_NOTICE.RESPONSIBLE.EMAIL' | translate }}
    </p>

    <h2>{{ 'LEGAL_NOTICE.DISCLAIMER.TITLE' | translate }}</h2>
    <p>{{ 'LEGAL_NOTICE.DISCLAIMER.CONTENT' | translate }}</p>

    <h2>{{ 'LEGAL_NOTICE.LINKS.TITLE' | translate }}</h2>
    <p>{{ 'LEGAL_NOTICE.LINKS.CONTENT' | translate }}</p>

    <h2>{{ 'LEGAL_NOTICE.COPYRIGHT.TITLE' | translate }}</h2>
    <p>{{ 'LEGAL_NOTICE.COPYRIGHT.CONTENT' | translate }}</p>
  </div>
</section>